<div class = "container">
	
	<div id = "header" class="nav navbar-fixed-top"> <!-- Begin Header -->
			<!-- Logo Here -->
			<div id="top-header" class="row">
				<img src="images/rr_logo.png">
			</div>
			<!-- Links to partials here -->
			<div id = "header-nav-menu">
				<nav class = "collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li><a href="#/">Home</a></li>
						<li><a href="#/about">About</a></li>
						<li><a href="#/contact">Contact</a></li>
					</ul>
				</nav>
			</div>
		</div>

	<div class = 'row divider'></div>
	<h1 style="color: black;">Contact Us</h1>
		<p>Etiam venenatis ante eros, eget gravida quam imperdiet nec. Integer egestas nisl non dui tempus vestibulum. Morbi elementum eget risus id rutrum. Morbi dignissim commodo magna ac molestie. Donec tincidunt porta mauris, vitae finibus velit placerat vitae. Duis diam elit, facilisis eget est nec, accumsan tempor dui. Nulla feugiat nunc varius cursus vehicula. In sit amet odio viverra, ultricies sapien eu, vulputate nibh. Donec a fringilla turpis, quis mattis ante. Phasellus porttitor mollis tortor et fermentum. Fusce sagittis augue eu dapibus congue. Sed sed efficitur magna, laoreet tristique magna. Maecenas eu orci euismod, congue urna id, condimentum dolor. Mauris gravida euismod nisl, vel tincidunt justo accumsan quis. Mauris urna enim, rutrum ut urna vitae, imperdiet aliquam nisi. Nam aliquam justo enim.</p>
		<br>
		<p>
		Sed mollis vel leo sit amet facilisis. Sed id felis commodo, mattis lorem eu, luctus ante. Praesent sit amet ante lorem. Sed faucibus ex hendrerit diam eleifend hendrerit. Donec rutrum ante pulvinar nulla mollis, sit amet fermentum lectus suscipit. Fusce mollis dolor a neque tincidunt, a bibendum ex tincidunt. In hac habitasse platea dictumst. Nam ut ipsum vitae neque porttitor lacinia sed ut lectus. Sed enim sem, mattis at luctus id, malesuada eget massa. Fusce laoreet ipsum tortor, nec dictum libero tristique vitae. Cras aliquet libero vitae ligula convallis, nec porta velit interdum. Etiam sit amet velit libero. Integer quis nisi lacus. Morbi ipsum mauris, porta quis lectus non, auctor scelerisque erat. Donec eget elit orci. Proin varius arcu ut elit fringilla ultricies.</p>
</div>